body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #688443;
  }
  
  video {
    max-width: 100%;
    height: auto;
  }